h1, h2, h3, h4, h5, h6 {
    color: currentColor;
}

/* menu */
.ant-menu-dark.ant-menu-inline {
    background-color: #2f4050 !important
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #2f4050 !important;
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    background: #2f4050 !important;
}

.checkbox-label {
    font-weight: 700 !important;
    margin-left: 9px !important;
}
.text-left{
    text-align: left;
}
.navbar-toggler {
    background-color: transparent !important;
    border-color: rgba(255,255,255,0) !important;
}

.carousel-control.left:hover, .carousel-control-prev:hover{
    background-image: none !important;
}

.carousel-control.right:hover, .carousel-control-next:hover{
    background-image: none !important;
}